* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::selection {
    background: #20c997;
    color: #fff;
    text-shadow: none;
}

/* Start Home */

.home {
  height: 100vh;
  background-image: url(../img/backgrond.jpg);
  background-size: cover;
  position: relative;
  z-index: 999;
  color: white;
  
}

/* Start Navbar */

.nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 9999999999;
}

.nav .logo {
  flex-grow: 1;
  padding: 1.3rem 0.5rem;
}

.nav .links {
  flex-grow: 2;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  padding: 1.3rem 0.5rem;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.nav .links a:hover {
  color: #20c997;
}


.layer {
  position: absolute;
  background-color: rgba(0, 0, 0,0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* End Navbar */

/* Start Content Home */ 

.content {
  width: 100%;
  height: 100%;
  position: relative;
}


.homeContent .content .one {
  font-size: 1.7rem;
}

.homeContent .content .two {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.homeContent .content h1 {
  font-size: 3.8rem;
}

.homeContent .content h1::after {
  content: "";
  animation: typing-1 3s infinite  ;
}

@keyframes typing-1 {
  0%{ content: "D"; }
  10%{ content: "De|"; }
  20%{ content: "Des"; }
  30%{ content: "Desi|"; }
  40%{ content: "Desg"; }
  50%{ content: "Desgn|"; }
  60%{ content: "Desgne"; }
  70%{ content: "Desgner|"; }
}


.homeContent .content .but-con {
  color: #20c997;
  border: #20c997 2px solid;
  padding: 0.8rem 2rem;
  border-radius: 20rem;
  display: inline;
}

.homeContent .content .but-con:hover {
  color: white;
  background-color: #20c997;
  transition: all 0.5s ease;
}

.homeContent .content .arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 1450%;
  left: 47%;
  right: 50%;
  font-size: 2rem;
  text-align: center;
  animation: arrow 0.5s infinite;
  -webkit-animation: arrow 1s infinite;
}

@keyframes arrow {
  
  0% {
    top: 145%;
  }

  50% {
    top: 150%;
  }

  100% {
    top: 145%;
  }

}


/* End Content Home */

/* Start About */


.about .container {
  width: 90%;
  margin: auto;
}

.about .container .content {
  text-align: center;
}

.content {
  position: relative;
}

.about .addres {
  color: #dee3e4 !important;
  opacity: 0.4;
  font-weight: 600;
  line-height: 1.3;
  font-size: 8.25rem;
  text-transform: uppercase;
  margin: 2.5rem;

}

.about .addres-p {
  font-size: 2.25rem;
  color: #212529;
  position: absolute;
  top: 15%;
  width: 100%;
  font-weight: 600;
}

.about .addres-p::after {
  content: "";
  background-color: #20c997;
  position: absolute;
  width: 80px;
  height: 3px;
  top: 110%;
  right: 47%;
}

.contenet-about {
  width: 90%;
  margin: auto;
}
.contenet-about h2 span {
  color: #20c997;
}

.contenet-about {
  display: flex;
  justify-content: center;
}

.contenet-about .left {
  width: 100%;
  padding: 1.5rem;
  line-height: 2rem;
}

.contenet-about .right {
  width: 100%;
  flex-shrink: 2;
  align-items: 2px;
  margin-top: 2rem;
}


.contenet-about .right ul li {
  border-bottom: 1px solid #eaeaea;
  padding: 0.6rem 0;
  padding-right: 5rem;
}

.contenet-about .right ul li a {
  color: #20c997;
}

.contenet-about .right ul span {
  font-weight: 600;
}

.contenet-about .but , .contact-right .but {
  width: fit-content;
  text-align: center;
  background-color: #20c997;
  margin-left: 2.5rem;
  padding: 1rem 2rem;
  border-radius: 20rem;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 30%);
  transition: all 0.5s ease;
}

.but:hover {
  background-color: #1baa80;
  border-color: #1baa80;
}

/* End About Content */

/* Start about Footer */


.footer-about {
  /* background-color: orange; */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #6c757d;
}

.footer-about .about-footer {
  width: 25%;
  border-left: 1px dotted #e0dede;
}

.footer-about .foot-10 {
  border-left: none;
}

.footer-about h4 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}


/* End about Footer  */

/* Startr What i Do */



.what-i-do , .mywork , .contact {
  background-color: #f8f9fa;
}

/* Start Services */

.services {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.services .content {
  width: 50%;
  display: flex;
  align-items: center;
}

.services .content-box {
  margin-left: 1rem;
}
.services .content-box p {
  color: #4c4d4d;
  font-size: 1.1rem;
  line-height: 2rem;
}

.services .content i {
  background-color: white;
  color: #20c997;
  font-size: 2rem;
  padding: 1.5rem 1.5rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

/* End Start Services */
/* Start Resume */

.resume .container-content {
  display: flex ;
}

.resume .container-content .resume-box {
  width: 50%;
  padding: 1.5rem;
}

.resume-box h3 , .resume-skills h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}



.resume .container-content .box-content {
  border: 1px solid #e0dede;
  padding: inherit;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}

.resume .year {
  color: white;
  background-color: #20c997;
  display: inline;
  padding: 0.30em 0.60em;
  margin: 2rem 0;
  border-radius: 0.25rem;
}

.resume .container-content .box-content h4 {
  font-size: 1.3125rem;
  font-weight: 200;
  margin: 1rem 0;
}

.resume .text-danger {
  color: #dc3545;
}

.resume .end-box {
  color: #4c4d4d;
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
}

/* End Resume Content */

/* Start Resume Skills */

.resume-skills h3 {
  padding-left: 2rem;
}

.resume-skills .skills {
  display: flex;
}

.box-skills {
  /* background-color: orange; */
  width: 50%;

  padding: 0rem 2rem;
}

.box-skills-2 {
  margin: 0.8rem 0;
}

.box-skills-2 p {
  color: #212529;
  font-weight: 500;
}

.content-skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.box-skills .progress{
  width: 100%;
  height: 0.5rem;
  background-color: #e9ecef;
  border-radius: 3rem;
}


.box-skills .progress-bar {
  height: 100%;
  background-color: #20c997;
  border-radius: 3rem;
}

.box-skills .web-design {
  width: 65%;
}
.box-skills .html-css {
  width: 95%;
}
.box-skills .JavaScript {
  width: 80%;
}
.box-skills .react {
  width: 70%;
}
.box-skills .angular {
  width: 60%;
}
.box-skills .bootstrap {
  width: 99%;
}

.resume-skills .buttton  {
  text-align: center;
  margin: 5rem 0;
  /* background-color: orange; */
}


.resume-skills .buttton a {
  color: #6c757d;
  padding: 0.9rem 2.8rem;
  border-radius: 20rem;
  border: 2px solid #6c757d;
}

.resume-skills .buttton a:hover {
  color: white;
  background-color: #6c757d;
}

/* End Resume Skills */
/* Start My Work */

.mywirk-content ul {  
  display: flex;
  justify-content: center;
}

.mywirk-content ul li {
  margin: 0.3rem;
}

.mywirk-content li a {
  color: #7b8084;
}

.mywirk-content li a:hover {
  color: #20c997;
}



.contact-galry {
  display: flex;
  flex-wrap: wrap;
  align-items: unset;
  width: 90%;
  margin: auto;
  
}

.mywirk-galry {
  width: 33.33%;
  padding: 0.5rem;
  height: fit-content;
  /* background-color: orange; */
}

.singl-galry {
  margin: 1rem auto;
  position: relative;
}

.singl-galry img {
  width: 100%;
}

.layer-galry {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.content-layer {
  text-align: center;
  width: 15rem;
}

.content-layer h5 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0.3rem;
}
.content-layer span {
  color: #dee3e4;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.mywork .singl-galry:hover .layer-galry {
  opacity: 1;
}

/* End My Work */

/* Start Client Speak */

.contenar-client {
  display: flex;
  justify-content: space-around;
}

.client {
  display: flex;
  flex-wrap: wrap;
  background-color: #f8f9fa;
  margin: 1rem;
  padding: 1.5rem 3rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  box-shadow: 0px 0px 1px black;
}

.client .photo img {
  padding: 1rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.client-content p {
  color: #212529;
  font-weight: 600;
  line-height: 1.8;
  margin-bottom: 0.4rem;
}
.client .cli-par {
  color: #212529;
  font-weight: 500;
  line-height: 1.8;
  padding: 1rem;
  margin: 0rem;
}
.client-content span {
  color: #6c757d;
  font-weight: 500;
}

.icon-star {
  color: #ffc107;
  padding-left: 1rem;

}

/* End Client Speak */
/* Start Contact */

.continar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.contact .contact {
  width: 100%;
}

.contact-left {
  flex-shrink: 3;
  padding: 1rem;
}

.left-bott h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 2.5rem;
}



.contact-left .left-top p {
  line-height: 2.1rem;
}

.contact-left .left-center i {
  color: #20c997;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.left-bott ul {
  padding: 0px;
  display: flex;
  justify-content: flex-start;
}

.left-bott ul a {
  color: black;
  font-size: 1.6rem;
  padding: 0.3rem;
}

.left-bott ul a:hover {
  color: #1baa80;
}

.contact-right {
  padding: 1rem;
}

.content h2 {
  margin: 0 2rem;
}

.contact-right .one {
  display: flex;
  margin: 1rem;
}



.contact-right .one input {
  color: #656565;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 50%;
  margin: 1rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border: 1px solid #ced4da;
}

.text {
  font-family: 'Poppins', sans-serif;
  color: #656565;
  width: 94%;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 2rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: 1px solid #ced4da;
}

.contact-right .one input:focus {
  outline: none;
  border: solid 1px #86b7fe;
  box-shadow: 0 0 5px rgb(128 189 255 / 50%);
}
.contact-right .text:focus {
  outline: none;
  border: solid 1px #86b7fe;
  box-shadow: 0 0 5px rgb(128 189 255 / 50%);
}

.contact-right .but {
  margin: 1.5rem auto;
}

/* End Contact */
/* Start Footer */

.footer {
  width: 90%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left a {
  color: #20c997;
  padding: 0;
}

.footer-right a {
  color: #212529;
  font-size: 1rem;
}
.footer-right a:hover {
  color: #20c997;
}

.footer-right ul {
  display: flex;
}

.scrol-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 998;
}

.scrol-up a {
  font-size: 2rem;
  color: #cccccc;
}

.scrol-up a:hover {
  font-size: 2rem;
  color: #20c997;
}

.switcher-toggle {
  color: white;
  background-color: #555;
  width: 2.5rem;
  height: 2.5rem;
  /* padding: 0.3rem; */
  position: fixed;
  right: -4px;
  top: 35%;
  z-index: 111111;
  border-radius: 4px 0px 0px 4px;
  line-height: 2.5rem;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 25%);
}

.switcher-toggle a {
    font-size: 1.20rem;
}

@media screen and (min-width: 660px) and (max-width: 992px) {

  .contenet-about {
    flex-wrap: wrap;
  }

  .about .addres {
    font-size: 4.7rem;
  }

.about .addres-p {
    top: 0%;
  }

  .footer-about {
    flex-wrap: wrap;
  }

  .footer-about .about-footer {
    width: 50%;

  }

  .footer-about h4 {
    font-size: 2.5rem;
  }

  .services .content {
    width: 100%;
  }

  .resume .container-content {
    flex-wrap: wrap;
  }

  .resume .container-content .resume-box {
    width: 100%;
  }

  .resume-skills .skills {
    flex-wrap: wrap;
  }

  .box-skills {
    width: 100%;
  }

  .mywirk-galry {
    width: 50%;
  }

  .contenar-client {
    flex-wrap: wrap;

  }

  .continar {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .contact-right .one {
    flex-wrap: wrap;
    order: 1;
  }

  .contact-right .one input {
    width: 100%;
  }

  .contact {
    width: 100%;

  }

  .contact-left {
    order: 1;
  }

  .links {
    position: relative;
  }


}


@media screen and (max-width: 659px) {

  .nav {
    flex-wrap: wrap;
    width: 100%;
  }

  .contenet-about {
    flex-wrap: wrap;
  }

  .about .addres {
    font-size: 3.7rem;
  }

.about .addres-p {
    top: 0%;
  }

  .footer-about {
    flex-wrap: wrap;
  }

  .footer-about .about-footer {
    width: 100%;

  }

  .footer-about h4 {
    font-size: 2.5rem;
  }

  .services .content {
    width: 100%;
  }

  .resume .container-content {
    flex-wrap: wrap;
  }

  .resume .container-content .resume-box {
    width: 100%;
  }

  .resume-skills .skills {
    flex-wrap: wrap;
  }

  .box-skills {
    width: 100%;
  }

  .mywirk-galry {
    width: 100%;
  }

  .contenar-client {
    flex-wrap: wrap;

  }

  .continar {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .contact-right .one {
    flex-wrap: wrap;
    order: 1;
  }

  .contact-right .one input {
    width: 100%;
  }

  .contact {
    width: 100%;

  }

  .contact-left {
    order: 1;
  }

  .footer {
    flex-wrap: wrap;
    justify-content: center;
  }


}